<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled " id="accordionSidebar" >
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Administration </div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panneau de contrôle</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Site
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#posts" aria-expanded="true" aria-controls="posts">
            <i class="fas fa-fw fa-cog"></i>
            <span>Articles</span>
        </a>
        <div id="posts" class="collapse" aria-labelledby="postsManagement" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 id="postsManagement" class="collapse-header">Gérer les Articles:</h6>
                <a class="collapse-item" href="/admin/posts/dashboard">Tout les articles</a>
                <a class="collapse-item" href="/admin/posts/creation">Ajouter un article</a>
                <a class="collapse-item" href="/admin/posts/corbeille">Corbeille</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#utilisateurs" aria-expanded="true" aria-controls="utilisateurs">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilisateurs</span>
        </a>
        <div id="utilisateurs" class="collapse" aria-labelledby="usersManagement" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 id="usersManagement" class="collapse-header">Gérer les Utilisateurs:</h6>
                <a class="collapse-item" href="/admin/users">Tout les Utilisateurs</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Home Page</span>
        </a>
        <div id="home" class="collapse" aria-labelledby="homeManagement" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 id="homeManagement" class="collapse-header">Gérer la page d'accueil:</h6>
                <a class="collapse-item" href="/admin/home/config">Gerer</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>