<span>{{ comment.status }}</span><br><ul class="d-sm-inline-flex text-decoration-none list-unstyled " style="font-size: xx-small"><li class="mr-sm-4"><a href="javascript:moderateComment('En Attente',{{ comment.id }});">En attente</a></li> <li  class="mr-sm-4"><a href="javascript:moderateComment('Validé',{{ comment.id }})">Valider</a></li><li><a href="javascript:moderateComment('Refusé',{{ comment.id }})">Refuser</a></li></ul>
