<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Commentaires</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataList" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Article</th>
                    <th>Auteur</th>
                    <th>Contenu</th>
                    <th>Statut</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Date</th>
                    <th>Article</th>
                    <th>Auteur</th>
                    <th>Contenu</th>
                    <th>Statut</th>
                    <th>Supprimer</th>
                </tr>
                </tfoot>
                <tbody id="commentList">
                {% include '/back/comment/inside.comments.list.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    function moderateComment(status, commentId){
        $.ajax(
        {
            url:'/admin/post/commentaire/moderer',
            method: 'POST',
            data:{
                'status':status,
                'commentId' : commentId
            },
            success:function(data){
                $("#comment"+commentId).html(data);
            }
        });
    }

    function deleteComment(commentId){
        $.ajax(
            {
                url:'/admin/commentaire/supprimer',
                method: 'POST',
                data:{
                    'commentId' : commentId
                },
                success:function(commentdata){
                    $("#postList").html(commentdata);
                }
            });
    }
</script>