{% for comment in commentsList %}
    <tr>
        <td>{{ comment.dateTime|date('d/m/Y') }}</td>
        <td><a href="{{ '/blog/post/'~comment.post.id}}">{{ comment.post.id }}</a></td>
        <td><a href="#" data-toggle="modal" data-id="{{ comment.user.id }}" data-target="{{ '.profile'~comment.user.id}}">{{ comment.user.username }}</a></td>
{#        <td><a href="{{ '/user/profile/'~comment.user.id}}">{{ comment.user.username }}</a></td>#}
        <td>{{ comment.content}}</td>
        <td  id="{{ 'comment'~comment.id }}">{% include '/back/comment/comment.status.html.twig' %}</td>
        <td><a href="javascript:deleteComment({{ comment.id }});"><i class="fa fa-trash-alt"></i></a></td>
        <td>{% if comment.children|length >0 %}<button type="button" class="btn btn-primary" data-toggle="modal" data-target="{{ '#conversation'~comment.id}}"><i class="fa fa-search-plus"></i>Voir la conversation</button></td>{% endif %}
    </tr>
    {% include '/back/comment/modal.conversation.html.twig' %}
    {% include '/user/profile.html.twig' with {'user':comment.user} %}
{% endfor %}

