{% extends '/front/layout.html.twig' %}
{% block title %}{{ parent }} - Mon Compte {% endblock %}
{% block header %}
    {% include'front/blocs/include.account.header.html.twig' %}
{% endblock %}
{% block main %}
<div class="container-fluid account">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edition</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#security" data-toggle="tab" class="nav-link">Sécurité</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">Bienvenue {{ user.userName }}</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>Civilité: </strong>{{ user.firstName }} {{ user.lastName }}</p>
                            <p><strong>Titre: </strong>{{ user.title }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="edit">
                    <form role="form" method="post" id="edit-user" action="{{ '/user/edit-infos/'~user.id }}">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Titre</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="edit-title" type="text" value="{{ user.title }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Prénom</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="edit-firstname"  type="text" value="{{ user.firstName }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Nom</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="edit-lastname"  type="text" value="{{ user.lastName }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="edit-username"  type="text" value="{{ user.userName }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="submit" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="security">
                    <form role="form" method="post" id="edit-user-password" action="{{ '/user/edit-password/'~user.id }}">
                        <h6>Modification du mot de passe</h6>
                        <div class="form-group row">
                            <label for="former-user-pwd-pwd" class="col-lg-3 col-form-label form-control-label">Entrez votre mot de passe actuel</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="former-user-pwd-pwd" id="former-user-pwd-pwd" type="password" value="">
                            </div>
                        </div>
                        <p></p>
                        <div class="form-group row">
                            <label for="new-user-pwd" class="col-lg-3 col-form-label form-control-label">Entrez votre nouveau mot de passe</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="new-user-pwd" id="new-user-pwd" type="password" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Annuler">
                                <input type="submit" class="btn btn-primary" value="Envoyer">
                            </div>
                        </div>
                    </form>
                    <form role="form" method="post" id="edit-user-email" action="{{ '/user/edit-email/'~user.id }}">
                        <h6>Modification de l'Email</h6>
                        <div class="form-group row">
                            <label for="former-user-pwd-email" class="col-lg-3 col-form-label form-control-label">Entrez votre mot de passe actuel</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="former-user-pwd-email" id="former-user-pwd-email" type="password" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new-user-email" class="col-lg-3 col-form-label form-control-label">Entrez votre nouvel E-mail</label>
                            <div class="col-lg-9">
                                <input class="form-control" name="new-user-email" id="new-user-email" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Annuler">
                                <input type="submit" class="btn btn-primary" value="Envoyer">
                            </div>
                        </div>
                    </form>
                    <a class="btn btn-danger" href="" data-toggle="modal" data-target="{{ '#userDeactivate'~user.id }}">Désactiver mon compte </a>
                    <div id="{{ 'userDeactivate'~user.id }}" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Désactivation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Voulez vous vraiment désactiver votre compte?</p>
                                </div>
                                <div class="modal-footer">
                                    <a type="button" href="{{'/user/deactivate-account/'~user.id}}" class="btn btn-primary">Désactiver</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            {% if user.profilePic %}<img src="{{'/'~user.profilePic }}" class="fileimg mx-auto img-fluid img-circle d-bloc" alt="avatar">{% else %} <img src="//placehold.it/150" class="fileimg mx-auto img-fluid img-circle d-bloc" alt="avatar">{% endif %}
            <h6 class="mt-2">Changer la photo</h6>
            <div class="col-sm-12">
                <form action="/user/add-profile-pic/" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="custom-file w-50 mr-2" >
                            <input type="file" name="userImage" id="userImage" class="custom-file-input file-img col-12 border-dark">
                            <label for="userImage" class="custom-file-label img-file-label btn btn-outline-success ">monimage.png....</label>
                        </div>
                        <div class="form-group w-auto ">
                            <button type="submit" value="Valider" id="submit" name="submit" class=" custom-file-control btn btn-block btn-dark "><i class="fa fa-fw fa-upload glyph"></i>Valider</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}

    <script>
        // $('.file-img').on('change', function() {
        //     readUrl(this,'img');
        //     let fileName = $(this).val().split('\\').pop();
        //     console.log(fileName);
        //     $(this).next('.img-file-label').addClass("selected").html(fileName);
        // });
        // function readUrl(input,type) {
        //     console.log(input + '<br>'+ type);
        //     if (input.files && input.files[0]) {
        //         let reader = new FileReader();
        //         reader.onload = function (e) {
        //             if (type === 'img') {
        //                 $('.fileimg').attr('src', e.target.result);
        //             }
        //             else {
        //                 $('.filepdf').attr('src', e.target.result);
        //             }
        //         }
        //         reader.readAsDataURL(input.files[0]);
        //     }
        // }
        // $('.custom-file-input').on('change', function() {
        //     let fileName = $(this).val().split('\\').pop();
        //     $(this).next('.custom-file-label').addClass("selected").html(fileName);
        // });
        //
        // $("#submit").click(function () {
        //
        //     if ($("#edit-user")[0].checkValidity())
        //         // alert('sucess');
        //     else
        //         //Validate Form
        //         $("#edit-user")[0].reportValidity()
        //
        // });
    </script>
{% endblock %}