{#<div class="modal fade" id="{{ 'profile'~user.id }}"  >#}
<div class="modal fade {{ 'profile'~user.id }}"   >
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >{{ user.username }} Membre depuis le {{ user.subscriptionDate|date('d/m/Y') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="width: 100%">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                {% if session.loggedin == true %}
                                    {% if session.userRole in [1,2] %}
                                        <p><strong>Civilité: </strong>{{ user.firstName }} {{ user.lastName }}</p>
                                        <p><strong>Mail: </strong>{{ user.email }} {{ user.lastName }}</p>
                                        <p><strong>Telephone: </strong>{{ user.phone }}</p>
                                    {% endif %}
                                {% endif %}
                                <p><strong>A propos: </strong> {{ user.title}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center">
                                <img src="{{ '/'~user.profilePic }}" alt="" class="mx-auto img-fluid" style="width: 75%;float: right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer col-sm-12">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>