<form>
<div class = "message">{% if message %}{{ message|raw }}{% endif %}</div>
<input type="hidden" id="idH" value="{{ home.id }}">
<div class="form-check form-check-inline">
    <input type="radio" name="siteActiveOption" id="activeOptionActivate" {% if home.isActive is same as (true) %} checked="checked" class="active form-check-input siteActiveOption form-check-inline"{% else %} class="form-check-input siteActiveOption form-check-inline" {% endif%}  value="true">
    <label class="form-check-label" for="activeOptionActivate">Active</label>
</div>
<div class="form-check ">
    <input type="radio" name="siteActiveOption" id="activeOptionDeactivate" {% if home.isActive is same as (false) %} checked="checked" class="active form-check-input siteActiveOption form-check-inline"{% else %} class="form-check-input siteActiveOption form-check-inline"{% endif%} value="false">
    <label class="form-check-label" for="activeOptionDeactivate">Inactive</label>
</div>
</form>

