{% set i = 0 %}
<form method="post" action="{{ '/admin/home/about/edition/'~home.id }}" >
    <div id="about-p" class="row about-par">
        {% if abouts|length >=1 %}
            {% for about in abouts %}
                <div id="paragraph-{{ i }}" class="input-group ">
                    <div class="input-group-prepend">
                        <button type="button" id="delete-p" class=" delete-p custom-file-control btn btn-primary" data-value="{{ i }}">Supprimer</button>
                        </div>
                    <textarea class=    "form-control col" id="about-par-{{ i }}" name="about-par-{{ i }}" >{{ about }}</textarea>
                </div>
                {% set i = i+1 %}
            {% endfor %}
        {% endif %}
        <div id="paragraph-{{ i }}" class="input-group last">
            <div class="input-group-prepend">
                <button type="button" class="custom-file-control add-p btn btn-primary" data-id="{{ i }}">Ajouter un Paragraphe</button>
            </div>
            <textarea class=    "form-control col" id="about-par-{{ i }}" name="about-par-{{ i }}" placeholder="Entrez votre contenu"></textarea>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="custom-file-control btn btn-primary">Submit</button>
    </div>
</form>
