<div class="col-3 border-right" id="name{{skill.id }}" onfocusout="javascript:editSkill({{ skill.id}})"  contenteditable="true">{{ skill.name }}</div>
<div class="col-3 border-right" id="value{{skill.id }}" onfocusout="javascript:editSkill({{ skill.id}})" contenteditable="true">{{ skill.value }}</div>
<div class="col-1 border-right"><a class="text-dark" href="javascript:editSkill({{ skill.id }});"><i class="fa fa-check " id="{{ skillId }}"></i></a></div>
<div class="col-1"><a class="text-dark" href="javascript:deleteSkill({{ skill.id }},{{ home.id }});"><i class="fa fa-trash"></i></a></div>
