.quick-add img.card-img {
  min-height: 253px;
}

.form-control.quill-editor.ql-container {
  min-height: 400px;
}

.p-content {
  display: none;
}

.border {
  border: 1px solid darkslategrey !important;
}

.section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#home-settings {
  color: #eee;
}

#home-settings h6.section-title {
  color: #eee;
}

#home-settings .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #eee;
  font-size: 20px;
}

#home-settings .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}

.bg-gradient-primary {
  background-color: #24b67e;
  background-image: linear-gradient(180deg, #24b67e 10%, #007b5e 100%);
  background-size: cover;
}

.bg-primary {
  background-color: #24b67e !important;
}

.bg-primary-card-header {
  background-color: #007b5e !important;
}

.row.text-center.success {
  background-color: lightseagreen !important;
}

.skill.success i.fa-check {
  color: green;
}

.skill.success {
  color: #fff;
}

.error {
  background-color: lightpink;
  padding: 1em;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100% !important;
  }
}