{% extends '/front/layout.html.twig' %}
{% block title %}{{ parent() }}- Blog{% endblock %}
{% block header %}
    {% include'front/blocs/include.blog.header.html.twig' %}
{% endblock %}
{% block content %}
    <div class="row">
        {% include '/front/blocs/inside.posts.list.html.twig' %}
    </div>
{% endblock %}
{% block sidebar %}
    {% include 'front/blocs/widget.sidebar.html.twig' %}
{% endblock %}