{% extends '/front/layout.html.twig' %}
{% block header %}{% include'front/blocs/include.post.header.html.twig' %}{% endblock %}
{% block link %}<p><a href="{{ '/blog/posts/list'}}">Retour à la liste des billets</a></p>{% endblock %}
{% block content %}
   {% include '/front/blocs/include.comment.edit.html.twig' %}
{% endblock %}
{% block sidebar %}
   {% include '/front/blocs/widget.sidebar.html.twig' %}
{% endblock %}




