{% extends '/front/layout.html.twig' %}
{% block header %}{% include'front/blocs/include.hero.html.twig' %}{% endblock %}
{% block main %}
    {% include '/front/blocs/include.posts.list.html.twig' %}
    {% include '/front/blocs/include.about.html.twig' %}
    {% include '/front/blocs/include.contact.html.twig' %}
{% endblock %}