<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <meta content="" name="keywords">
            <meta content="" name="description">
            <title>Virginie Botiba -{% block title %}Blog{% endblock %}</title>


            <!-- Favicons -->
            <link href="/img/favicon.png" rel="icon">
            <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

            <!-- Bootstrap CSS File -->
            <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Libraries CSS Files -->
            <link href="/back/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="lib/font-awesome/css/all.min.css" rel="stylesheet">
            <link href="/lib/animate/animate.min.css" rel="stylesheet">
            <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
            <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
            <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
            <!-- Main Stylesheet File -->
            <link href="/css/style-green.css" rel="stylesheet">
            <link href="/css/myblog.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body id="page-top">
        {% include 'cookie-consent.html.twig' %}
        <div class="container-fluid">
            {% block nav %}
                {% include'/front/blocs/include.nav.html.twig' %}
            {% endblock %}
            {% block header %}{% endblock %}
            {% block main %}
                <!--/ Section Blog-Single Star /-->
                <section class="blog-wrapper sect-pt4" id="blog">
                  {% block link %}{% endblock %}
                    <div class="container-fluid">
                        {% block container %}
                        <div class="row">
                            <div class="col-md-8">
                                {% block content %}{% endblock %}
                            </div>
                            <div class="col-md-4">
                                {% block sidebar %}{% endblock %}
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </section>
            {% endblock  %}
            {% block footer %}
                {% include'front/blocs/include.footer.html.twig' %}
            {% endblock %}
        </div>
                   <!-- JavaScript Libraries -->
            <script src="/lib/jquery/jquery.min.js"></script>
            <script src="/lib/jquery/jquery-migrate.min.js"></script>
            <script src="/lib/popper/popper.min.js"></script>
            <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
            <script src="/lib/easing/easing.min.js"></script>
            <script src="/lib/counterup/jquery.waypoints.min.js"></script>
            <script src="/lib/counterup/jquery.counterup.js"></script>
            <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="/lib/lightbox/js/lightbox.min.js"></script>
            <script src="/lib/typed/typed.min.js"></script>
            <!-- Contact Form JavaScript File -->
            <script src="/contactform/contactform.js"></script>
            <!-- Template Main Javascript File -->
            <script src="/js/main.js"></script>
            <script src="/js/myblog.js"></script>
        {% block scripts %}{%endblock %}
    </body>
</html>