{% extends 'back/layout.html.twig' %}
{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
{#        <a href="/" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> Voir le site</a>#}
    </div>
    <!-- QUICK ACTION-->
    <div class="row quick-add">
        <!-- Add Post -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <img class="card-img" src="back/img/undraw_add_document_0hek.svg" alt="image d'illustration">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-12">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center">
                                <a class="text-success"  href="/admin/posts/creation">Ajouter un article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Moderate Comment -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <img class="card-img" src="back/img/undraw_personal_opinions_g3kr.svg" alt="image d'illustration">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-12">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center">
                                <a class="text-success"  href="/admin/post/commentaires/liste">Modérer les commentaires</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Manage Users -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <img class="card-img" src="back/img/undraw_subscriptions_1xdv.svg" alt="image d'illustration">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-12">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center">
                                <a class="text-success"  href="/admin/users">Gérer les utilisateurs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Manage Home Page -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <img class="card-img" src="back/img/undraw_home_settings_8rlf.svg" alt="image d'illustration">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-12">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center"><a class="text-success"  href="/admin/home/config">Gérer la Page d'accueil</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="row">
        <!-- Left Column -->
        <div class="col-12" style="font-size:0.8rem;">
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Articles</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Date</th>
                                    <th>Derniere mise à jour</th>
                                    <th>Statut</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Date</th>
                                    <th>Derniere mise à jour</th>
                                    <th>Statut</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                                </tfoot>
                                <tbody class="postList" data-target="postList">
                                {% set datatarget = 'postList' %}
                                {% include 'back/post/include.posts.list.html.twig' with {'datatarget': datatarget} %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </div>
{#        <!-- Right Column -->#}
{#        <div class="col-lg-6 mb-4">#}
{#            <!-- Comments -->#}
{#            <div class="card shadow mb-4">#}
{#                <div class="card-header py-3">#}
{#                    <h6 class="m-0 font-weight-bold text-primary">Commentaires</h6>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <div class="text-center">#}
{#                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">#}
{#                    </div>#}
{#                    <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>#}
{#                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Users -->#}
{#            <div class="card shadow mb-4">#}
{#                <div class="card-header py-3">#}
{#                    <h6 class="m-0 font-weight-bold text-primary">Utilisateurs</h6>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>#}
{#                    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
<!-- /.container-fluid -->



<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vous nous quittez?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Cliquez sur "Deconnexion" si vous souhaitez terminer votre session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="/deconnexion">Deconnexion</a>
            </div>
        </div>
    </div>
</div>

    <!-- Modal add post-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter Un Article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'back/post/form.create.post.html.twig'  %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>

    </div>


{% endblock %}