{% extends 'back/layout.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Corbeille</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th  class="text-gray-300">Reactiver</th>
                            <th>Supprimer definitivement</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody class="postList" data-target="corbeille">
                        {% set datatarget = 'corbeille' %}
                             {% include 'back/post/include.posts.list.html.twig' with {'datatarget':datatarget} %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


