{% include 'back/post/inside.posts.list.html.twig' %}
<script>
    function manageStatus(status, postId){
        $.ajax(
        {
            url:'/admin/posts/manage-status',
            method: 'POST',
            data:{
                'status':status,
                'postId' : postId
            },
            success:function(data){
                $("#post"+postId).html(data);
            }
        });
    }

    function deletePost(postId,datatarget){
        $.ajax(
            {
                url:'/admin/posts/delete',
                method: 'POST',
                data:{
                    'postId' : postId
                },
                success:function(Postdata){
                    let target = $(".postList").data('target',datatarget);
                    target.html(Postdata);
                }
            });
    }

    function removePost(postId,datatarget){
        console.log( $(".postList").data('target',datatarget));
        $.ajax(
            {
                url:'/admin/posts/remove-post',
                method: 'POST',
                data:{
                    'postId' : postId
                },
                success:function(corbeilleData){
                    console.log( corbeilleData);
                    let target = $(".postList").data('target',datatarget);
                    target.html(corbeilleData);
                }
            });
    }

</script>