{% extends 'back/layout.html.twig' %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="container-fluid">
    <a href="{{ '/blog/post/'~post.id }}" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> Voir l'article'</a>
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <form method="post" action="{{ '/admin/posts/edition-submit/'~post.id }}">
                <div class="form-group row">
                    <label for="edit-post-title" class=" form-control-label"> Editer le Titre</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="edit-post-title" name="title" value="{{ post.title}} ">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="edit-post-chapo" class="form-control-label"> Editer le Chapo</label>
                    <div class="col-lg-12">
                        <textarea class="form-control" id="edit-post-chapo" name="chapo"  rows="3">{{ post.chapo }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="edit-post-content" class="form-control-label"> Editer le contenu</label>
                    <div class="col-lg-12">
                        <textarea name="content" class="content form-control" id="edit-post-content" >{{ post.content|raw }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label form-control-label"></label>
                    <div class="col-lg-10">
                        <button type="submit" class=" btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <h6 class="mt-2 text-uppercase">Editer la photo</h6>
            <img class="fileimg-edit-post-image  col-lg-10" src="{{ '/'~post.higlight.path }}">
            <div class="col-sm-12">
                <form method="post" action="{{ '/admin/posts/edition-img/'~post.id }}" enctype="multipart/form-data">
                    <div class="row">
                        <div class="custom-file col-lg-8">
                            <input type="file" name="edit-post-image" id="edit-post-image" class="file-img custom-file-input col-12 border-dark">
                            <label for="edit-post-image" class="img-file-label custom-file-label btn btn-outline-success ">Changer l'image....</label>
                        </div>
                        <div class="form-group col-lg-4">
                            <button type="submit" value="Valider" id="submit" name="submit" class=" custom-file-control btn btn-block btn-dark "><i class="fa fa-fw fa-upload glyph"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        $('.content').summernote({
            placeholder: 'Hello Bootstrap 4',
            tabsize: 2
        });
    </script>
{% endblock %}