<div class="post-box">
    <div class="post-thumb">
        <img src="{{ '/'~post.higlight.path }}" class="img-fluid" alt="">
    </div>
    <div class="post-meta">
        <h1 class="article-title">{{post.title}}{{ message }}</h1>
        <ul>
            <li>
                <span class="ion-ios-person"></span>
                <a href="#" data-toggle="modal" data-id="{{ post.user.id }}" data-target="{{ '.profile'~post.user.id}}" >{{ post.user.Username }} </a>
            </li>
            <li>
                <span class="ion-chatbox"></span>
                <a href="#post-comments">{{ comments|length}}</a>
            </li>
        </ul>
    </div>
    <div class="post-chapo p-5 mb-4 bg-light">
       <p>{{ post.chapo|raw }}</p>
    </div>
    <div class="post-content">
        {{post.content|raw}}
    </div>
</div>
<div class="box-comments" id="post-comments">
    <div class="title-box-2">
        <h4 class="title-comments title-left">Commentaires ({{ comments|length}})</h4>
    </div>
    <ul class="list-comments">
    {% for comment in comments %}
        {% if comment.status == 'Validé' %}
            {% if comment.parent is empty %}
            <li>
                <div class="comment-avatar">
                    <img src="{{'/'~comment.user.profilePic }}" alt="">
                </div>
                <div class="comment-details">
                    <a href="#" data-toggle="modal" data-id="{{ comment.user.id }}" data-target="{{ '.profile'~comment.user.id}}"> <h4 class="comment-author">{{  comment.user.username}} </h4></a>
                    <span>{{ comment.datetime|date('d/m/Y') }} à {{ comment.datetime|date('H:m') }}</span>
                    <p>
                        {{ comment.content}}
                    </p>
                    <a class="ac-link mb-5" href="javascript:showACForm({{ comment.id }})">Répondre</a>
                    <div id="{{ 'answerComment'~comment.id}}"></div>
                </div>
                {% if comment.children |length >0 %}
                <ul>
                    {% for child in comment.children %}
                        {% if child.status == 'Validé' %}
                        <li class="comment-children mt-auto">
                            <div class="comment-avatar">
                                <img src="{{ '/'~child.user.profilePic}}" alt="">
                            </div>
                            <div class="comment-details">
                                <a href="#" data-toggle="modal" data-id="{{ child.user.id }}" data-target="{{ '.profile'~child.user.id}}"> <h4 class="comment-author">{{  child.user.username}} </h4></a>
                                <span>{{ child.datetime|date('d/m/Y') }} à {{ child.datetime|date('H:m') }}</span>
                                <p>
                                    {{ child.content}}
                                </p>
                                <a class="ac-link mb-3" href="javascript:showACForm({{ child.id }})">Répondre</a>
                                <div id={{ 'answerComment'~child.id}}></div>
                            </div>
                            {% if child.children |length >0 %}
                                <ul>
                                    {% for grandChild in child.children %}
                                        {% if grandChild.status =='Validé' %}
                                        <li class="comment-children">
                                            <div class="comment-avatar">
                                                <img src="{{ '/'~grandChild.user.profilePic}}" alt="">
                                            </div>
                                            <div class="comment-details">
                                                <a href="{{ '/blog/user/profile/'~grandChild.user.id}}" data-toggle="modal" data-id="{{ grandChild.user.id }}" data-target="{{ '.profile'~grandChild.user.id}}"> <h4 class="comment-author">{{  grandChild.user.username}} </h4></a>
                                                <span>{{ grandChild.datetime|date('d/m/Y') }} à {{ grandChild.datetime|date('H:m') }}</span>
                                                <p>
                                                    {{ grandChild.content}}
                                                </p>
                                            </div>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endif %}
        {% endif %}
        {% include '/user/profile.html.twig' with {'user':comment.user} %}
    {% endfor %}
    </ul>
</div>
<div class="form-comments">
    <div class="title-box-2">
        <h3 class="title-left">
            Laissez un Commentaire
        </h3>
    </div>
    <form class="form-mf" action='{{"/blog/post/ajouter/commentaire/"~post.id~"/null"}}' method="post">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label for="comment-content">Commentaire</label><br />
                    <textarea id="comment-content" class="form-control input-mf" name="comment-content"  cols="45" rows="8" required></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="button button-a button-big button-rouded" value="Envoyer">
            </div>
        </div>
    </form>
</div>

{#<script>#}
{#    function showACForm(id) {#}
{#        console.log(id);#}
{#        $('#answerComment'+id).append("<form class='form-mf' action='{{"/blog/post/repondre/commentaire/"~post.id~"/"}}"+id+"' method='post'>"+#}
{#                   "<div class='row'>"+#}
{#                        "<div class='col-md-12 mb-3'>"+#}
{#                              "<div class='form-group'>"+#}
{#                                   "<label for='comment-content'>Entrez votre réponse</label><br />"+#}
{#                                   " <textarea id='comment-content' class='form-control input-mf' name='comment-content'  cols='45' rows='8' required></textarea>" +#}
{#                            "</div>"+#}
{#                        "</div>"+#}
{#                        "<div class='col-md-12'>"+#}
{#                          "<input type='submit' class='button button-a button-big button-rouded' value='Envoyer'>"+#}
{#                        "</div>"+#}
{#                     "</div>"+#}
{#                 "</form>"+#}
{#            "</div>");#}
{#    }#}
{#</script>#}