<!--/ Section Blog Star /-->
<section id="blog" class="blog-mf sect-pt4 route">
    <h3 class="title-a text-center">Derniers billets:</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
{#                    <h3 class="title-a">Derniers billets:</h3>#}
{#                    <p class="subtitle-a">#}
{#                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.#}
{#                    </p>#}
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
            {% include '/front/blocs/inside.posts.list.html.twig' %}
            </div>
        </div>
    </div>
</section>


