<div class="intro intro-single route bg-img" style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <h2 class="intro-title mb-4">Article</h2>
                <ol class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/blog/posts/list">Blog</a></li>
                    <li class="breadcrumb-item active">{{ post.title }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>