<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/overlay-bg.jpg)">
<footer>
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-lg-left credits">
                <a class="" href="/admin">Admin</a>
            </div>
            <div class="col-sm-6 text-lg-right credits">
                <a class="" href="/mentions-legales">Mention Legales</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright-box">
                    <p class="copyright">&copy; Copyright <strong>myBlog 2020</strong>.</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</footer>
</section>
<!--/ Section Contact-footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader">
</div>
