{% for post in posts %}
<div class="col-sm-12 col-lg-4 pb-4">
    <div class="card card-blog h-100 ">
        <div class="blog card-img ">
            <a href="{{'/blog/post/'~post.id}}"><img src=" {{ '/'~post.higlight.path }} " alt="" class="img-fluid mx-auto"></a>
        </div>
        <div class="card-body">
            <h3 class="card-title"><a href="{{'/blog/post/'~post.id}}">{{ post.title }}</a></h3>
            <p class="card-description">
                {{ post.chapo|raw }}
            </p>
        </div>
        <div class="card-footer">
            <div class="post-author">
                <a href="#" data-toggle="modal" data-id="{{ post.user.id }}" data-target="{{ '.profile'~post.user.id}}">
                    <img src="{{ '/'~post.user.profilePic }}" alt="" class="avatar rounded-circle">
                    <span class="author">{{ post.user.userName }}</span>
                </a>
            </div>
            {% if post.lastUpdateDateTime is not null %}
            <div class="post-date small">
                Mis à jour le {{ post.lastUpdateDateTime|date('d/m/Y')}}
            </div>
            {% else %}
            <div class="post-date small">
                Publié le {{ post.creationDateTime|date('d/m/Y')}}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include '/user/profile.html.twig' with {'user':post.user} %}
{% endfor %}


