<div class="widget-sidebar">
    <h5 class="sidebar-title">Derniers Billets</h5>
    <div class="sidebar-content">
        <ul class="list-sidebar">
            {% for blogpost in posts|slice(0,11) %}
            <li>
                <a href="{{'/blog/post/'~blogpost.id}}">{{ blogpost.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

