<div class="cookie-consent" data-duration=3>
    <p>Nous utilisons des cookies sur ce site. <span class="hidden-xs">Les cookies sont de petits fichiers texte stockés sur votre ordinateur. Ces fichiers sont utilisés pour les statistiques et vous donner la meilleure expérience de navigation. en continuant sur le site, vous acceptez l'utilisation de cookies ainsi que le règlement d'utilisation.</span>
        <a href="/mentions-legales">Lire les Mentions Légales</a></p>
    <button type="button" class="btn btn-primary cookie-accept">Ok</button>
</div>