{% extends '/front/layout.html.twig' %}
{% block title %}{{ parent() }} - Erreur{% endblock %}
{% block stylesheets %}<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">{% endblock %}
{% block nav %}{% endblock %}
{% block header %}{% endblock %}

{% block main %}

<style>
    :root {
        --main-color: #eaeaea;
        --stroke-color: black;
    }
    body {
        background: var(--main-color);
    }
    h1 {
        margin: 200px auto 0 auto;
        color: var(--stroke-color);
        font-family: 'Raleway';
        font-size: 10rem; line-height: 10rem;
        font-weight: 200;
        text-align: center;
    }
    h2 {
        margin: 20px auto 30px auto;
        font-family: 'Raleway';
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
    }
    h1, h2 {
        -webkit-transition: opacity 0.5s linear, margin-top 0.5s linear; /* Safari */
        transition: opacity 0.5s linear, margin-top 0.5s linear;
    }
</style>

{#    {{ dump(exception) }}#}
<h1>O0pS!</h1>

<h2> {% if exception.message %}{{ exception.message }}{% else %}Quelque chose s'est mal passé {% endif %}<b> :(</b></h2>
<div class="row">
    <a href="/" class="btn btn-outline-dark col-4 offset-4 center margin-top"> Revenir à l'Accueil</a>
</div>
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(function() {
        setTimeout(function(){
            $('body').removeClass('loading');
        }, 1000);
    });
</script>
    {% endblock %}

{% endblock %}
{% block footer %}
{% endblock %}