{% extends '/front/layout.html.twig' %}

{% block main %}
<div class="container">
    <div class="container-fluid success-bg" >
        <div class="col-12"> <img src="/img/success.svg"></div>
        <div class="col-12 text-white success " >{{message|raw }}</div>
    </div>
{#        <img src="/img/success.svg">#}

</div>
{% endblock %}